<div class="form-row">
    <div class="form-group col-md-6">
        <label for="network">Network</label>
        <select id="network" name="network" class="form-control">
            <option selected value="development">Dev</option>
            <option value="management">Mgt</option>
            <option value="production">Prod</option>
        </select>
    </div>

    <div class="form-group col-md-6">
        <label for="subnet">Subnet</label>
        <select id="subnet" name="subnet" class="form-control">
            <option selected value="Application">Application</option>
            <option value="Bastion">Bastion</option>
            <option value="Management">Management</option>
        </select>
    </div>
</div>