<style type="text/css">
  .hidden{
    display: none;
  }
</style>

<script>
    $(function () {
        let el = $("#options");

        $("#stack_type").on('change', function(e){
            let stack_type = $("#stack_type option:selected").val();
            $.ajax({
                url: "/api/1.0/stack/elements/"+ stack_type,
                processData: true,
                success: function(data, r){
                    el.empty();
                    el.append(data.content);
                    el.show();
                }
            })
        });
    })
</script>

<table style="width: 100%;">
  <tr>
    <td>

      <form action="/stack/create" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="stack_name">Name</label>
            <input class="form-control" name="stack_name" id="stack_name" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="stack_version">Version</label>
            <input class="form-control" name="stack_version" id="stack_version" placeholder="0.1.0">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="stack_size">Size</label>
            <select id="stack_size" name="stack_size" class="form-control">
              <option selected value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="stack_type">Type</label>
            <select id="stack_type" name="stack_type" class="form-control">
              <option slected>Select</option>
              <% stacks.each do |s| %>
                <option value="<%= s[:stack_class_name] %>"><%= s[:stack_class_name] %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div id="options" class="hidden"> </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>

    </td>
  </tr>
</table>
