<style type="text/css">
  .hidden{
    display: none;
  }
</style>

<script>
let params = <%= params.to_json %>;

function venom(){
    console.log("venom");
    $.each(params, function(k,v){
        if(k != "stack_type"){
            $("#"+k).val(v).change();
        }
    });
}

$(function () {
        let el = $("#options");

        $("#stack_type").on('change', function(e){
            let stack_type = $("#stack_type option:selected").val();
            $.ajax({
                url: "/api/1.0/stack/elements/"+ stack_type,
                processData: true,
                success: function(data, r){
                    el.empty();
                    el.append(data.content);
                    venom();
                    el.show();
                }
            })
        });

        $("#save").on('click', function(e){
            console.log('Saving config');
            fields = {
                stack_name: $("#stack_name").val(),
                stack_type: $("#stack_type").val(),
                stack_size: $("#stack_size").val(),
                stack_version: $("#stack_version").val()
            };

            el.find(":input").each(function(i){
                let input_el = $(this);
                fields[input_el.attr('name')] = input_el.val();
            });
            console.log(fields);

            $.ajax({
                url: "/api/1.0/save",
                data: fields,
                success: function(r, s){
                    console.log(s);
                }
            })
        })

        <% if defined?(:params) %>
        $('#stack_type option:contains("<%= params['stack_type'] %>")').prop('selected', true).change();
        <% end %>
    })
</script>

<table style="width: 100%;">
  <tr>
    <td>

      <form action="/stack/create" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="stack_name">Name</label>
            <input class="form-control" name="stack_name" id="stack_name" value="name" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="stack_version">Version</label>
            <input class="form-control" name="stack_version" id="stack_version" value="0.1.0" placeholder="0.1.0">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="stack_size">Size</label>
            <select id="stack_size" name="stack_size" class="form-control">
              <option selected value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="stack_type">Type</label>
            <select id="stack_type" name="stack_type" class="form-control">
              <option slected>Select</option>
              <% stacks.each do |s| %>
                <option value="<%= s[:stack_class_name] %>"><%= s[:stack_class_name] %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div id="options" class="hidden"> </div>

        <table style="width: 100%">
          <tr>
            <td style="text-align: left"> <button type="button" id="save" class="btn btn-primary">Save this configuration</button> </td>
            <td style="text-align: right"> <button type="submit" class="btn btn-primary">Launch</button> </td>
          </tr>
        </table>
      </form>

    </td>
  </tr>
</table>
