<script>
  $(function(){
      let selected_stack_name = null;

      $("#accordion").collapse();
      $("#accordion").on("shown.bs.collapse", function(e){
          let selected = $(e.target);
          console.log(selected.attr('id'));
          selected_stack_name = selected.attr('id');
      });

      $("#submit").on("click", function(e){
          console.log("Submitting form");

          let stack_name = $("#stack_name").val();
          let stack_size = $("#stack_size").val();
          let stack_version = $("#stack_version").val();
          let network = $("#network").val();

          let params = {
              network: network,
              stack_name: stack_name,
              stack_size: stack_size,
              stack_version: stack_version
          };

          if(selected_stack_name == null || selected_stack_name == 'accordion'){
              alert("Please select a stack");
              return;
          }

          params['stack_type'] = $("#"+selected_stack_name).attr('stack-type');

          $.ajax({
              url: '/api/1.0/stack/create',
              data: params,
              method: 'post',
              processData: true,
              success: function(r, status){
                  console.log(r.success)
              }
          });

      });
  })
</script>

<table style="width: 100%;">
  <tr>
    <td>
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Name</label>
      <input class="form-control" name="stack_name" id="stack_name" value="test" placeholder="Name">

      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Version</label>
      <input class="form-control" name="stack_version" id="stack_version" placeholder="Version" value="0.1.0">

    </td><td>
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Size</label>
      <select class="custom-select my-1 mr-sm-2" id="stack_size">
        <option selected value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>

      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Network</label>
      <select class="custom-select my-1 mr-sm-2" id="network">
        <option selected value="development">Development</option>
        <option value="production">Production</option>
        <option value="management">Management</option>
      </select>

    </td>
  </tr><tr>
    <td colspan="2">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="heading-ecscluster">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#details-ecscluster" aria-expanded="true" aria-controls="details-ecscluster">
                ECS Cluster
              </button>
            </h5>
          </div>
          <div id="details-ecscluster" class="collapse" stack-type="ECSCluster" data-toggle="collapse" aria-labelledby="heading-ecscluster" data-parent="#accordion">
            <div class="card-body">
              Create an ECS Cluster.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading-openvpn">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#details-openvpn" aria-expanded="false" aria-controls="details-openvpn">
                OpenVPN Gateway
              </button>
            </h5>
          </div>
          <div id="details-openvpn" class="collapse" stack-type="OpenVPN" aria-labelledby="heading-openvpn" data-parent="#accordion">
            <div class="card-body">
              Create an OpenVPN gateway.
            </div>
          </div>
        </div>

      </div>
    </td>

  </tr>
  <tr>
    <td colspan="2" style="text-align:right;">
      <button id="submit" type="submit" class="btn btn-primary">Next</button>
    </td>
  </tr>
</table>

